
#about div {
    display:block;
    padding: 0;
}
#about .about-info {
    display: flex;
}

@media (max-width: 500px){
#navbar {
    display: block;
    text-align: center;
}
#navbar .logo {
    margin-bottom: 1.5rem ;
}
#navbar ul {
    /* justify-content: center; */
    display: block;
    margin-top: 1rem;
}
#navbar ul li a {
    padding: 0.25rem;
}
/* Showcase section */
#showcase .showcase-content .l-heading {
    line-height:1.6em;
}
/* About Section */

#what {
    display: block;
    position: relative;
}
#what .img-content {
    display: none;
}
#what .what-info {
    padding: 0.5rem;
}
#partners {
    position: relative;
    margin-top: 400px;
}
#partners .m-heading {
    margin-top: 3rem;
}
#contact {
    display: block;
}
#contact .location {
    height: 400px;
    border-top: 5px solid #fff;
}
.m-heading {
    font-size: 2rem;
    line-height: 1.5rem;
}
}